html, body {
    margin: 0px;
    font-family: 'SF Pro Display', sans-serif;
}
header{
    background-color:#888;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
main {
    display: flex;
    justify-content: center;
}
button {
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #888;
    transition: all ease-in-out .4s;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
    cursor: pointer;
}
.logo {
    color:#fafafa;
    font-style: italic;
    font-size: xx-large;
}
.cart-btn:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}
.card-btn {
    border: 2px solid #888;
    background-color: #888;
    color: #fafafa;
}
.buy-btn:hover{
    background-color: #fafafa;
    color: #222;
}
#products {
    width: 1140px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.goods-item {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    width: 250px;
    height: 350px;
}
.icon {
    width: 100px;
    height: 150px;
    border: solid 2px black;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
